<div class="container mt-4">
    <div class="d-flex justify-content-center card-body table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
              <tr class="bg-dark text-white">
                <th scope="col" >{{'Id'}}</th>
                <th scope="col" >{{'Post Name'}}</th>
                <th scope="col" >{{'Description'}}</th>
                <th scope="col" >{{'Date'}}</th>
                <th scope="col">{{'Action'}}</th>
              </tr>
            </thead>
            <tbody >
              <tr   *ngFor="let i of posts">
                <th scope="row">{{i.id}}</th>
                <td style="font-weight: bold;" [ngClass]=" i.priority ? 'text-success' : ''">{{i.name.length<16 ? i.name : i.name.substr(0, 12)+"..."}}</td>
                <td>{{i.description}}</td>
                <td>{{i.date | date:'LL/mm/yyyy'}}</td>
                <td style="width: 150px;">
                  <button [routerLink]="['/edit/',i.id]" [queryParams]="{id:i.id}" class="btn btn-light me-2" data-toggle="modal" data-target="#exampleModal" >
                    <span class="material-symbols-outlined">
                      edit
                    </span>
                </button>
                  <button (click)="delete(i.id)" class="btn btn-light">
                    <span class="material-symbols-outlined">
                      delete
                    </span>
                </button></td>
              </tr>             
            </tbody>
          </table>
    </div>
</div>
<div *ngIf="success" class="alert alert-success d-flex justify-content-center" role="alert">
  <span style="font-weight: bold;">{{'Successfully Deleted'}}</span>
</div>
<div *ngIf="successfullyCreated" class="alert alert-success d-flex justify-content-center" role="alert">
  <span style="font-weight: bold;">{{'Successfully Created'}}</span>
</div>