/* You can add global styles to this file, and also import other style files */
.alert{
    top:89%;
    position: fixed;
    width: 20%;
    float: right;
    left: 78%;
}
@media only screen and (max-width: 900px) {
    .alert{
        top:89%;
        position: fixed;
        width: 40%;
        float: right;
        left: 78%;
    }
  }